body {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsa5Q7Hjt8VNcpzqj6I6nBi_EdMjXL_kU_zA&s);
background-size: cover;
}
.button {
    background-color: orange;
    border: 2px solid orange;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    padding: 15px 32px;
    margin: 100px;
    display: inline-block;
    box-shadow: 9px 9px 5px 5px lightgrey;
    cursor: pointer; }

    .button:hover {
        background-color: white;
        border: 2px solid orange;
        color: orange;
    }
    .button:active {background-color: white;
    color: orange;
    box-shadow: 4px 4px 5px 5px darkgrey;
    transform: translateY(5px);
    }

/* this is a feature I will never use */

/* london update fire */

p { text-align: center; color: white;}
h1 {text-align: center; color: white;}
button{text-align: center;}
img {text-align: center;